Repository b-vitamins/energy-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Layers, Models, Core

.codecov.yml:

# Codecov configuration for energy-transformer
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2  # Round coverage to 2 decimal places
  round: down   # Always round down
  
  status:
    project:
      default:
        target: 90%         # High coverage target
        threshold: 1%       # Allow 1% drop in coverage
        if_ci_failed: error # Fail if CI fails
        informational: false # Make this blocking
        only_pulls: false   # Check on all commits
    
    patch:
      default:
        target: 85%         # Slightly lower for patches (more realistic)
        threshold: 0%       # No drops allowed in new code
        base: auto          # Compare against base automatically
        if_ci_failed: error
        informational: false
        
    changes: false  # Disable the "changes" status check

comment:
  layout: "header,diff,flags,components,tree"
  behavior: default
  require_changes: true    # Only comment when coverage changes
  require_base: true       # Only comment if there's a base to compare
  require_head: true       # Only comment if head coverage exists
  show_carryforward_flags: false
  
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

ignore:
  - "tests/**"           # Test files
  - "examples/**"        # Example scripts
  - "benchmarks/**"      # Benchmark files
  - "**/__init__.py"     # Package init files
  - "**/conftest.py"     # Pytest configuration
  - "**/_version.py"     # Version files
  - "docs/**"            # Documentation
  - "*.pyi"              # Type stub files
  - "energy_transformer/models/vision/**"  # From your pyproject.toml coverage config

# Define flags if you test across multiple Python versions or OS
flags:
  unittests:
    paths:
      - energy_transformer/
    carryforward: true
    
# Component-based coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: layers
      name: Layers
      paths:
        - energy_transformer/layers/**
    - component_id: models  
      name: Models
      paths:
        - energy_transformer/models/**
    - component_id: core
      name: Core
      paths:
        - energy_transformer/*.py

Fix RTD config validation
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Fix .readthedocs.yaml: Remove invalid sphinx configuration entries
  .readthedocs.yaml
Due: none

Fix .readthedocs.yaml: Remove invalid sphinx configuration entries (#169)
  .readthedocs.yaml
Due: none

Fix RTD build by letting Poetry manage venv
  .readthedocs.yaml
Due: none

Fix RTD build by letting Poetry manage venv (#170)
  .readthedocs.yaml
Due: none

[docs] update requirements.txt
  docs/requirements.txt
Due: none

update pyproject.toml
  pyproject.toml
Due: none

update requirements.txt
  requirements.txt
Due: none

update poetry.lock
  poetry.lock
Due: none

Readthedocs setup (#171)
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

Remove heavy autodoc typehint dependency
  AGENTS.md
  docs/conf.py
  docs/requirements.txt
  manifest.scm
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

Remove heavy autodoc typehint dependency (#172)
  AGENTS.md
  docs/conf.py
  docs/requirements.txt
  manifest.scm
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

update poetry.lock (#173)
  poetry.lock
Due: none

docs: add missing pages and fix index
  docs/changelog.rst
  docs/concepts.rst
  docs/contributing.rst
  docs/examples.rst
  docs/tutorials/index.rst
Due: none

docs: add missing pages and fix index (#174)
  docs/changelog.rst
  docs/concepts.rst
  docs/contributing.rst
  docs/examples.rst
  docs/tutorials/index.rst
Due: none

docs: fix duplicate heading
  AGENTS.md
Due: none

feat: add setup script and update agent guide
  AGENTS.md
  setup-dev.sh
Due: none

docs: fix duplicate heading (#175)
  AGENTS.md
Due: none

docs: resolve merge conflict in AGENTS
  AGENTS.md
Due: none

[setup] Add offline dev script (#176)
  AGENTS.md
  setup-dev.sh
Due: none

refactor(models): add config dataclasses
  energy_transformer/models/__init__.py
  energy_transformer/models/configs.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
  energy_transformer/models/vision/vit.py
Due: unittests, Models

fix(models): address ruff lint feedback
  energy_transformer/models/configs.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
  energy_transformer/models/vision/vit.py
Due: unittests, Models

[models] unify builder configs (#177)
  energy_transformer/models/__init__.py
  energy_transformer/models/configs.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
  energy_transformer/models/vision/vit.py
Due: unittests, Models

refactor(layers): improve docs and validation
  energy_transformer/layers/heads.py
  energy_transformer/layers/hopfield.py
  energy_transformer/layers/layer_norm.py
Due: unittests, Layers

refactor(layers): improve docs and validation (#178)
  energy_transformer/layers/heads.py
  energy_transformer/layers/hopfield.py
  energy_transformer/layers/layer_norm.py
Due: unittests, Layers

refactor(core): add parameter utilities
  energy_transformer/layers/attention.py
  energy_transformer/layers/base.py
  energy_transformer/layers/hopfield.py
  energy_transformer/layers/simplicial.py
  energy_transformer/models/base.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
  energy_transformer/models/vision/vit.py
Due: unittests, Layers, Models

refactor(core): add parameter utilities (#179)
  energy_transformer/layers/attention.py
  energy_transformer/layers/base.py
  energy_transformer/layers/hopfield.py
  energy_transformer/layers/simplicial.py
  energy_transformer/models/base.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
  energy_transformer/models/vision/vit.py
Due: unittests, Layers, Models
