Repository b-vitamins/energy-transformer: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Layers, Models, Core

[layers] simplify simplex selection
  energy_transformer/layers/simplicial.py
Due: unittests, Layers

[layers] simplify simplex selection (#148)
  energy_transformer/layers/simplicial.py
Due: unittests, Layers

[vision] simplify lazy imports and cleanup energy tracking
  energy_transformer/models/vision/__init__.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
Due: none

[vision] simplify lazy imports and cleanup energy tracking (#149)
  energy_transformer/models/vision/__init__.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
Due: none

[models] drop unused head_dim
  energy_transformer/layers/heads.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
Due: unittests, Layers

[models] drop unused head_dim (#150)
  energy_transformer/layers/heads.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
Due: unittests, Layers

[models] drop unused compatibility arg
  energy_transformer/layers/constants.py
  energy_transformer/layers/simplicial.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
Due: unittests, Layers

[models] drop unused compatibility arg (#151)
  energy_transformer/layers/constants.py
  energy_transformer/layers/simplicial.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/viset.py
Due: unittests, Layers

[layers] simplify classifier heads
  energy_transformer/layers/heads.py
Due: unittests, Layers

[layers] simplify classifier heads (#152)
  energy_transformer/layers/heads.py
Due: unittests, Layers

[layers] reduce duplication and add validation
  energy_transformer/layers/attention.py
  energy_transformer/layers/hopfield.py
Due: unittests, Layers

[layers] reduce duplication and add validation (#153)
  energy_transformer/layers/attention.py
  energy_transformer/layers/hopfield.py
Due: unittests, Layers

[models] avoid redundant layer norm
  energy_transformer/models/base.py
Due: unittests, Models

[models] avoid redundant layer norm (#154)
  energy_transformer/models/base.py
Due: unittests, Models

[layers] simplify energy layer norm validation
  energy_transformer/layers/layer_norm.py
Due: unittests, Layers

[layers] simplify energy layer norm validation (#155)
  energy_transformer/layers/layer_norm.py
Due: unittests, Layers

[cleanup] address minor code smells
  energy_transformer/layers/attention.py
  energy_transformer/layers/layer_norm.py
  energy_transformer/models/vision/viet.py
Due: unittests, Layers

[cleanup] address minor code smells (#156)
  energy_transformer/layers/attention.py
  energy_transformer/layers/layer_norm.py
  energy_transformer/models/vision/viet.py
Due: unittests, Layers

[docs] refine docstrings and cleanup
  energy_transformer/layers/attention.py
  energy_transformer/layers/hopfield.py
  energy_transformer/models/base.py
  energy_transformer/models/vision/viet.py
Due: unittests, Layers, Models

[docs] reference ViET citation
  energy_transformer/models/vision/viet.py
Due: none

[docs] refine docstrings and cleanup (#157)
  energy_transformer/layers/attention.py
  energy_transformer/layers/hopfield.py
  energy_transformer/models/base.py
  energy_transformer/models/vision/viet.py
Due: unittests, Layers, Models

Regenerate Sphinx API docs
  docs/api/energy_transformer.layers.rst
  docs/api/energy_transformer.models.rst
  docs/api/energy_transformer.models.vision.rst
  docs/api/energy_transformer.rst
Due: none

Regenerate Sphinx API docs (#158)
  docs/api/energy_transformer.layers.rst
  docs/api/energy_transformer.models.rst
  docs/api/energy_transformer.models.vision.rst
  docs/api/energy_transformer.rst
Due: none

Improve docstrings and regenerate docs
  energy_transformer/__init__.py
  energy_transformer/layers/__init__.py
  energy_transformer/layers/heads.py
  energy_transformer/layers/validation.py
  energy_transformer/models/__init__.py
  energy_transformer/models/vision/__init__.py
Due: unittests, Layers

Improve docstrings and regenerate docs (#159)
  energy_transformer/__init__.py
  energy_transformer/layers/__init__.py
  energy_transformer/layers/heads.py
  energy_transformer/layers/validation.py
  energy_transformer/models/__init__.py
  energy_transformer/models/vision/__init__.py
Due: unittests, Layers

[models] refactor energy flow
  energy_transformer/models/base.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/vit.py
Due: unittests, Models

[models] refactor energy flow (#160)
  energy_transformer/models/base.py
  energy_transformer/models/vision/viet.py
  energy_transformer/models/vision/vit.py
Due: unittests, Models

Add Read the Docs config and documentation setup
  .github/workflows/docs.yml
  .readthedocs.yaml
  docs/_static/custom.css
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/quickstart.rst
  docs/requirements.txt
  pyproject.toml
Due: none

make docs build optional
  docs/conf.py
Due: none

Setup Read the Docs (#161)
  .github/workflows/docs.yml
  .readthedocs.yaml
  docs/_static/custom.css
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/quickstart.rst
  docs/requirements.txt
  pyproject.toml
Due: none

Update dependencies
  manifest.scm
  pyproject.toml
  requirements.txt
Due: none

Update dependencies (#162)
  manifest.scm
  pyproject.toml
  requirements.txt
Due: none

update pyproject.toml
  pyproject.toml
Due: none

update requirements.txt
  requirements.txt
Due: none

update poetry.lock
  poetry.lock
Due: none

Update deps (#163)
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

Pin Sphinx versions for RTD
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Pin Sphinx versions for RTD (#164)
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Fix RTD Sphinx version key
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Fix RTD Sphinx version key (#165)
  .readthedocs.yaml
Due: none

Path conditions:
  unittests: any of: energy_transformer/, but not: tests/**, examples/**, benchmarks/**, **/__init__.py, **/conftest.py, **/_version.py, docs/**, *.pyi, energy_transformer/models/vision/**
  Layers: any of: energy_transformer/layers/**, but not: tests/**, examples/**, benchmarks/**, **/__init__.py, **/conftest.py, **/_version.py, docs/**, *.pyi, energy_transformer/models/vision/**
  Models: any of: energy_transformer/models/**, but not: tests/**, examples/**, benchmarks/**, **/__init__.py, **/conftest.py, **/_version.py, docs/**, *.pyi, energy_transformer/models/vision/**
  Core: any of: energy_transformer/*.py, but not: tests/**, examples/**, benchmarks/**, **/__init__.py, **/conftest.py, **/_version.py, docs/**, *.pyi, energy_transformer/models/vision/**
